
header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-size: 25px;
}

ul, li {
    display: inline-block
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin-top: 100px;
    column-gap: 0px;
    row-gap: 30px;
}

.Sub-Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Featured-Section-Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Call-To-Action {
    background-color: grey;
    font-size: 12px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.Call-To-Action:hover {
    background-color: green;
    color: white;
}